html{
    scroll-behavior: smooth;
}
body {
    color:white;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.form-group{
    margin-top: 10px;
    margin-bottom: 10px;
}
.vertical-center {
    min-height: 93%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 93vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
.vertical-center .text-center{
    line-height: 300%;
}

/* enable absolute positioning */
.inner-addon{
    position: relative;
}
.inner-addon input {
    padding-left: 35px;
}
.inner-addon i{
    position: absolute;
    top: 8px;
    margin: auto;
    padding: 5px 8px;
    color: #aaa;
    transition: .3s;
}
.inner-addon input:focus + i{
    color: dodgerblue;
}
.no-display{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.stickyrow{
    --bs-table-bg: white;
    color: black;
}
.stickyrow th{
    position: sticky;
    top: 0;
}
.headerrow-gift{
    --bs-table-bg: black;
    color: white;
}

#bootstrap-overrides.greenrow{
    --bs-table-accent-bg: #5bc0de;
    color: black;
}
#bootstrap-overrides.warningrow{
    --bs-table-accent-bg: #f0ad4e;
}

.scroll-to-bottom{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #001f3f;
    position: fixed;
    z-index: 1;
    bottom: 1%;
    right: 1%;
    opacity: 0.83;
}
.scroll-to-bottom i{
    padding: 33%;
    color: #7FDBFF;
}
.table-wrapper-scroll-y{
    display: block;
    position: relative;
    height: 75vh;
    overflow: auto;
}