body {
    color:white;
}
.form-group{
    margin-top: 10px;
    margin-bottom: 10px;
}
.vertical-center {
    min-height: 93%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 93vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
.vertical-center .text-center{
    line-height: 300%;
}

/* enable absolute positioning */
.inner-addon{
    position: relative;
}
.inner-addon input {
    padding-left: 35px;
}
.inner-addon i{
    position: absolute;
    top: 8px;
    margin: auto;
    padding: 5px 8px;
    color: #aaa;
    transition: .3s;
}
.inner-addon input:focus + i{
    color: dodgerblue;
}
.no-display{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.stickyrow{
    --bs-table-bg: white;
    color: black;
}
.stickyrow th{
    position: sticky;
    top: 0;
}

#bootstrap-overrides.greenrow{
    --bs-table-accent-bg: #5bc0de;
    color: black;
}