<!-- Costs Modal -->
<div class="modal fade" id="costs_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title" id="costs_exampleModalLongTitle">Costs</h5>
            </div>
            <div class="modal-body">
                <table class="table table-light table-striped" id="table_costs">
                    <!--Table Content-->
                    <thead>
                        <tr class='headerrow-gift'>
                            <th scope='col'>Name</th>
                            <th scope='col'>Value</th>
                            <th scope='col'></th>
                        </tr>
                    </thead>
                    <tbody id='costs_table_body'>
                        {% for cost in costs %}
                        <tr>
                            <th>{{ cost.name }}</th>
                            <td>{{cost.value }}</td>
                            <td>
                                <button data-id="{{ cost.id }}" type="submit" class="btn btn-danger btn-delete-sale" onclick="delete_cost(this)" >
                                    <i class="fa fa-trash-alt fa-lg"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form id='cost-register' onsubmit="add_cost(event)">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-5">
                            <div class="form-group inner-addon">
                                {{ costform.name }}
                                <i class="fa fa-globe fa-lg fa-fw" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group inner-addon">
                                {{ costform.value }}
                                <i class="fa fa-hashtag fa-lg fa-fw" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-2 my-auto">
                            <button type="submit" class="btn btn-primary" name="btn_costs">Add</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>