<!-- Costs Modal -->
<div class="modal fade" id="costs_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title" id="costs_exampleModalLongTitle">Costs</h5>
            </div>
            <div class="modal-body">
                <div class="table-wrapper-scroll-y">
                    <table class="table table-light table-striped" id="table_costs">
                        <!--Table Content-->
                        <thead>
                            <tr class='headerrow-gift'>
                                <th scope='col'>Name</th>
                                <th scope='col'>Value</th>
                                <th scope='col'></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
                <form id='cost-register'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-5">
                            <div class="form-group inner-addon">
                                {{ costform.name }}
                                <i class="fa fa-globe fa-lg fa-fw" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group inner-addon">
                                {{ costform.value }}
                                <i class="fa fa-hashtag fa-lg fa-fw" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-2 my-auto">
                            <button type="submit" class="btn btn-primary" name="btn_costs">Add</button>
                        </div>
                        <div class="col-12 d-flex">
                            {{ costform.is_constant }}
                            &nbsp;&nbsp;
                            <span id="s_describe_exp_date" style="font-size: 20px;">Is this a temporary cost?</span>
                            <div style="margin-right: 0.5rem" id="start_date_container" class="d-none">
                                <span>From: </span>
                                {{ costform.start_date }}
                            </div>
                            <div id="exp_date_container" class="d-none">
                                <span>To: </span>
                                {{ costform.exp_date }}
                            </div>
                            
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>