{% extends 'base.html' %}
{% load static %}
{% block title %}Panel{% endblock %}
{% block head %}
<script src="{% static 'js/panel.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}

<div class="container-fluid my-3">
    <!--Filter Sales-->
    <form onsubmit="filter_sales(event)">
        {% csrf_token %}
        <div class="row">
            <div class="col-2">
                <select class='form-select' name="s_filter_sales_by_date" id="s_sales_filter_by_date">
                    <option value="all">All sales</option>
                    {% for year, month_list in years_months.items %}
                        {% for month in month_list %}
                            {% if user_sales_filtered_y == year and user_sales_filtered_m == month %}
                                <option value="{{ year }}-{{ month }}" selected>{{ year }}-{{ month }}</option>
                            {% else %}
                                <option value="{{ year }}-{{ month }}">{{ year }}-{{ month }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-1">
                <input type="submit" class="btn btn-secondary" name="btn_select_date" value="Filter">
            </div>
        </div>
    </form>

    {% include 'sales_table.html' %}

    <!--Sale Registered Message-->
    {% for message in messages %}
        {% if message.tags == 'info' %}
            <p class='alert alert-info mt-3'>{{ message }}</p>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}