{% load filters %}
<!--View Sales-->
<table id="table_sales" class="table table-dark table-striped table-sticky table-hover">
    <thead>
        <!--Titles-->
      <tr class="stickyrow">
        <th scope="col" class="align-middle"><i class="fa fa-hashtag fa-md"></i></th>
        <th scope="col">Date</th>
        <th scope="col">eBay Price</th>
        <th scope="col">Amazon Price</th>
        <th scope="col">eBay Tax</th>
        <th scope="col">Paypal Tax</th>
        <th scope="col">TM Fee</th>
        <th scope="col">Promoted</th>
        <th scope="col">Profit</th>
        <th scope="col">Discount</th>
        <th scope="col">Country</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <!--Data-->
        {% for sale in user_sales %}
        {% if sale in returned_sales %}
        <tr id="bootstrap-overrides" class='warningrow'>
        {% else %}
        <tr>
        {% endif %}
            <th class="text-success">{{ sale.id }}</th>
            <th>{{ sale.date }}</th>
            <td class="editable sumtable" data-id="{{ sale.id }}" data-type="ebay_price">{{ sale.ebay_price|roundFloat:2 }}</td>
            <td class="editable sumtable" data-id="{{ sale.id }}" data-type="amazon_price">{{ sale.amazon_price|roundFloat:2 }}</td>
            <td class="editable sumtable" data-id="{{ sale.id }}" data-type="ebay_tax">{{ sale.ebay_tax|roundFloat:2 }}</td>
            <td class="editable sumtable" data-id="{{ sale.id }}" data-type="paypal_tax">{{ sale.paypal_tax|roundFloat:2 }}</td>
            <td class="editable sumtable" data-id="{{ sale.id }}" data-type="tm_fee">{{ sale.tm_fee|roundFloat:2 }}</td>
            <td class="editable sumtable" data-id="{{ sale.id }}" data-type="promoted">{{ sale.promoted|roundFloat:2 }}</td>
            <td class="sumtable" id="loop" data-id="{{ sale.id }}" data-type="profit">{{ sale.profit|roundFloat:2 }}</th>
            <td class="editable sumtable" data-id="{{ sale.id }}" data-type="discount">{{ sale.discount|roundFloat:2 }}</td>
            <td class="editable text-center" data-id="{{ sale.id }}" data-type="country" >
            <table style="width: 90%;">
                {% if sale.country != '-----' %}
                <tr class="bg-secondary">
                {% else %}
                <tr>
                {% endif %}
                    <td class="get-country col-12 text-center" colspan="2">
                        {{ sale.country }}
                    </td>
                </tr>
                <tr>
                    {% for hip in hipshippers %}
                        {% if hip.sale_entry == sale %}
                            <td class="bg-info text-center text-secondary col-6">
                                <span>Buyer</span>
                                <br />
                                <div id="div_hipshipper_buyer">{{ hip.buyer_paid|roundFloat:2 }}</div>
                            </td>
                            <td class="bg-primary text-center col-6">
                                <span>Seller</span>
                                <br />
                                <div id="div_hipshipper_seller">{{ hip.seller_paid|roundFloat:2 }}</div>
                                
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
            </td>
            <td data-id="{{ sale.id }}" data-type="submit" class='text-center'>
                <button data-id="{{ sale.id }}" type="submit" class="btn btn-warning btn-return-sale" >
                    <i class="fa fa-undo-alt fa-lg"></i>
                </button>
                <button data-id="{{ sale.id }}" type="submit" class="btn btn-danger btn-delete-sale" >
                    <i class="fa fa-trash-alt fa-lg"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<form id="form_add_sale">
    {% csrf_token %}
    <table class="table table-dark table-striped table-hover">
        <tr>
            <th class="align-middle"><i class="fa fa-hashtag fa-md"></i></th>
            {% for field in form %}
                {% if field is not form.user %}
                <td>
                    {{ field }}
                </td>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <td><input class="btn btn-primary" type="submit" display="inline" name="btn_register_sale"></td>
        </tr>
    </table>
</form>